{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "vue/setup-compiler-macros": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "prettier",
    "@vue/typescript/recommended"
  ],
  "rules": {
    "no-unused-vars": "off",
    "no-var": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "vue/html-quotes": ["error", "double", { "avoidEscape": false }],
    "vue/no-unused-components": [
      "error",
      {
        "ignoreWhenBindingPresent": true
      }
    ],
    "vue/no-use-v-if-with-v-for": [
      "error",
      {
        "allowUsingIterationVar": false
      }
    ],
    "vue/first-attribute-linebreak": [
      "error",
      {
        "singleline": "ignore",
        "multiline": "below"
      }
    ],
    "vue/component-api-style": ["error", ["script-setup", "composition"]],
    "vue/component-name-in-template-casing": [
      "error",
      "PascalCase",
      {
        "registeredComponentsOnly": true
      }
    ],
    "vue/multi-word-component-names": [
      "error",
      {
        "ignores": ["index", "[id]"]
      }
    ],
    "@typescript-eslint/no-explicit-any": "off"
  }
}